<a href="https://colab.research.google.com/github/Hadasssinha/Ci-ncia-de-Dados/blob/Hadasssinha-patch-1/1_introducao/ATV3_1_9_1_10_Pandas_conte%C3%BAdo_e_exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.9 - Exercício de Pandas (submeter pelo Canvas)

In [90]:
from pandas import DataFrame, Series

#################
# Lembrete de sintaxe:
# O seguinte código criará um DataFrame com duas colunas
# nomeado df com as colunas 'name' e 'age':
#
# people = ['Sarah', 'Mike', 'Chrisna']
# ages  =  [28, 32, 25]
# df = DataFrame({'name' : Series(people),
#                 'age'  : Series(ages)})

def create_dataframe():
    '''
    Create a pandas dataframe called 'olympic_medal_counts_df' containing
    the data from the table of 2014 Sochi winter olympics medal counts.  

    The columns for this dataframe should be called 
    'country_name', 'gold', 'silver', and 'bronze'.  

    There is no need to  specify row indexes for this dataframe 
    (in this case, the rows will automatically be assigned numbered indexes).
    
    Data source: https://olympics.com/en/olympic-games/sochi-2014/medals
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    # Resposta
    
    d = {
        'country_name': countries,
         'gold': gold,
         'silver': silver,
         'bronze': bronze
    }
  
    olympic_medal_counts_df = DataFrame(d)
    return olympic_medal_counts_df

# Chame a função create_dataframe e imprima na tela o resultado
# Resposta

create_dataframe()

      country_name  gold  silver  bronze
0     Russian Fed.    13      11       9
1           Norway    11       5      10
2           Canada    10      10       5
3    United States     9       7      12
4      Netherlands     8       7       9
5          Germany     8       6       5
6      Switzerland     6       3       2
7          Belarus     5       0       1
8          Austria     4       8       5
9           France     4       4       7
10          Poland     4       1       1
11           China     3       4       2
12           Korea     3       3       2
13          Sweden     2       7       6
14  Czech Republic     2       4       2
15        Slovenia     2       2       4
16           Japan     1       4       3
17         Finland     1       3       1
18   Great Britain     1       1       2
19         Ukraine     1       0       1
20        Slovakia     1       0       0
21           Italy     0       2       6
22          Latvia     0       2       2
23       Australia     0       2       1
24         Croatia     0       1       0
25      Kazakhstan     0       0       1

## Colunas de um Dataframe

Agora que sabemos como criar uma estrutura de dados, por que não falamos sobre como podemos acessar os dados?

Podemos operar em colunas específicas, chamando-as como se fossem uma chave do dicionário.

In [ ]:
from pandas import Series, DataFrame

d = {
'name': Series(['Braund','Cummings','Heikkinen','Allen'], index=['a','b','c','d']),
'age': Series([22,38,26,35], index=['a','b','c','d']),
'fare': Series([7.25, 71.83, 8.05], index=['a', 'b', 'd']),
'survived?': Series([False, True, True, False], index=['a','b','c','d'])
}

df = DataFrame(d)
print(df)

Por exemplo, se quiséssemos apenas a coluna de nome desta estrutura de dados, eu poderia simplesmente digitar df name.

In [ ]:
print(df['name'])

Também poderia obter mais de uma coluna, passando em uma lista de nomes de coluna, e não em um nome de coluna apenas.

Por exemplo, digamos que eu quisesse as colunas de nome e idade. Diria df name, age.

In [ ]:
df[['name','age']]

Também poderia filtrar linhas específicas, chamando o método de localização de objetos e informando o índice da linha como argumento.

Por exemplo, se eu quisesse somente a linha correspondente ao passageiro Braund,
cujo índice é a, eu simplesmente diria df.loc a.

In [ ]:
df.loc['a']

Também podemos usar instruções verdadeiras ou falsas referentes às colunas da estrutura de dados para definir o subconjunto da estrutura de dados.

Por exemplo, digamos que eu quisesse somente linhas desta estrutura de dados nas quais a idade do passageiro fosse maior ou igual a 30.

Eu diria simplesmente df onde df age >= 30.

In [ ]:
print(df)
print('')
df[df['age'] >= 30]
# Observe que apenas as linhas b e d foram exibidas,
# pois são as linhas em que os passageiros tinham de fato idade igual ou superior
# a 30 anos.

Esta capacidade de definir um subconjunto da estrutura de dados com base nas instruções verdadeiras ou falsas no índice não se limita à linha.

Também posso executar esta operação em colunas específicas.

Por exemplo, digamos que eu só quisesse as informações de sobrevivência
para estas duas linhas, b e d.

Eu diria simplesmente df survived df age >= 30.

In [ ]:
df['survived?'][df['age'] >= 30]

## Playground de Pandas: Índices em Dataframes

In [ ]:
import pandas as pd

'''
You can think of a DataFrame as a group of Series that share an index.
This makes it easy to select specific columns that you want from the 
DataFrame. 

Also a couple pointers:
1) Selecting a single column from the DataFrame will return a Series
2) Selecting multiple columns from the DataFrame will return a DataFrame

*This playground is inspired by Greg Reda's post on Intro to Pandas Data Structures:
http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
'''
# Change False to True to see Series indexing in action
if (False):
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print(football)
    print('')
    print(football['year'])
    print('')
    print(football.year)  # shorthand for football['year']
    print('')
    print(football[['year', 'wins', 'losses']])

'''
Row selection can be done through multiple ways.

Some of the basic and common methods are:
   1) Slicing
   2) An individual index (through the functions iloc or loc)
   3) Boolean indexing

You can also combine multiple selection requirements through boolean
operators like & (and) or | (or)
'''
# Change False to True to see boolean indexing in action
if(True):
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print(football)
    print('')
    print(football.iloc[[0]])
    print('')
    print(football.loc[[0]])
    print('')
    print(football[3:5])
    print('')
    print(football[football.wins > 10])
    print('')
    print(football[(football.wins > 10) & (football.team == "Packers")])

## Pandas: funções vetorizadas

O Pandas também permite que você opere em sua estrutura de dados de uma forma vetorizada e item por item.
O que significa operar em estrutura de dados de uma forma vetorizada?
Digamos que temos a seguinte estrutura de dados:

In [ ]:
d = {'one': Series([1,2,3], index=['a','b','c']),
    'two': Series([1,2,3,4], index=['a','b','c','d'])}
df = DataFrame(d)
df

Esta estrutura de dados tem 2 colunas, 1 e 2.

E 4 linhas, a, b, c e d.

Todos os valores são inteiros.

Podemos chamar a estrutura de dados e aplicar uma função arbitrária.
Por exemplo, numpy.mean para executar essa função no vetor que está em cada coluna.

Quando chamamos df.apply numpy.mean, o que recebemos é a média de cada coluna do df.

In [ ]:
import numpy as np
df.apply(np.mean)

Isso é uma nova estrutura de dados.

Há também algumas operações que simplesmente não podem ser vetorizadas dessa forma.
Ou seja, usar um array NumPy como sua entrada e, em seguida, retornar outro array ou valor.

Também podemos, neste caso, aplicar um mapa em colunas específicas. Ou aplicar um mapa a estrutura de dados completas.

Esses métodos aceitarão funções que utilizam um valor único e retornam um valor único.

Por exemplo, suponhamos que dissemos df one.map lambda x x >= 1.

In [95]:
df['one'].map(lambda x: x >= 1)

a     True
b     True
c     True
d    False
Name: one, dtype: bool

O que foi feito foi passar por cada valor único na coluna 1 e avaliar se esse valor é maior ou igual a 1.

Se chamarmos df.applymap lambda x x >=1, a mesma função será avaliada em cada valor único da estrutura de dados. E não apenas na coluna 1.

In [ ]:
df.applymap(lambda x: x >= 1)

Um pouco mais sobre lambda: funções lambda são pequenas funções alinhadas em Python, definidas no mesmo momento em que são usadas. Por exemplo: lambda x: x>= 1 terá uma entrada x e devolve x >= 1, um valor booleano que pode valer True ou False.

Neste exemplo, map() e applymap() criam uma nova série ou dataframe, aplicando uma função lambda em cada elemento da estrutura de dados original. Observe que map() só pode ser usada em uma série e devolve uma nova série, enquanto applymap() só pode ser usada em um dataframe, para devolver um novo dataframe.

Para mais informações, consulte a [documentação oficial sobre funções lambda (em inglês)](https://docs.python.org/3.6/tutorial/controlflow.html#lambda-expressions).

## 1.10 - Exercício: média de medalhas de ouro, prata e bronze (submeter pelo Canvas)

Tente agora operar nossos dados de contagem de medalhas de Sochi usando vetores.

Usando Pandas, NumPy e o método de aplicação da estrutura de dados, crie uma estrutura de dados denominada avg_medal_count que indica o número médio de medalhas de ouro, prata e bronze que foram ganhas entre países que ganharam pelo menos uma medalha nas olímpiadas de Sochi em 2014.

Utilize o mesmo conjunto de dados do exercício 1.9.

In [91]:
# 1.10.1
# Para chegar no resultado de teste abaixo, incluir um país com zero medalhas
# Resposta

data = create_dataframe()
data = data.append({'country_name': 'Brazil', 'gold':0, 'silver':0, 'bronze':0}, ignore_index= True)
data

      country_name  gold  silver  bronze
0     Russian Fed.    13      11       9
1           Norway    11       5      10
2           Canada    10      10       5
3    United States     9       7      12
4      Netherlands     8       7       9
5          Germany     8       6       5
6      Switzerland     6       3       2
7          Belarus     5       0       1
8          Austria     4       8       5
9           France     4       4       7
10          Poland     4       1       1
11           China     3       4       2
12           Korea     3       3       2
13          Sweden     2       7       6
14  Czech Republic     2       4       2
15        Slovenia     2       2       4
16           Japan     1       4       3
17         Finland     1       3       1
18   Great Britain     1       1       2
19         Ukraine     1       0       1
20        Slovakia     1       0       0
21           Italy     0       2       6
22          Latvia     0       2       2
23       Australia     0       2       1
24         Croatia     0       1       0
25      Kazakhstan     0       0       1
26          Brazil     0       0       0

In [99]:
# 1.10.2
# Filtrar países com pelo menos uma medalha,
# para somente depois calcular a média de cada tipo de medalha

# Resposta
data= data[(data['gold'] >= 1) | (data['silver'] >= 1) | (data['bronze'] >= 1)]
data[['gold', 'silver', 'bronze']].apply(np.mean)

gold      3.807692
silver    3.730769
bronze    3.807692
dtype: float64